/* iosevka-term-medium */
@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	src: url('../fonts/iosevka-term-medium.ttf') format('truetype'),
       url('../fonts/iosevka-term-medium.woff2') format('woff2');
}
